header {

    height: 70px;
    background-color: #5F205F;
}

h1 {

    color: yellow;
    float: left;
     font-family: 'Gaegu', cursive;
     font-family: 'Roboto Mono', monospace;
     font-family: 'Chela One', cursive, 'Roboto Mono', monospace, 'Gaegu', cursive;
}

#main {

    background-color: blue;
    height: 10000px;
}

p {

    color: red;
    font-size: 25px;
    float: right;
}
